<div class="fixed-bottom">
    <h5 class="mx-5 d-flex justify-content-around bg-dark text-light" >
        <p>Este es el footer </p>
        <p>Imagen de: </p> <a href="https://pixabay.com/es/users/quincecreative-1031690/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2891888">3D Animation Production Company</a> en <a href="https://pixabay.com/es//?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2891888">Pixabay</a>
    </h5>
</div>

